version: '3.7'
services:
    mariadb:
        image: mariadb:10.1
        restart: always
        hostname: db-${var_server_name}
        container_name: db-${var_server_name}
        expose:
            - 3306
        environment:
            TZ: "Europe/Rome"
            MYSQL_ALLOW_EMPTY_PASSWORD: "no" 
            MYSQL_ROOT_PASSWORD: "DORFDEPP"

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        restart: always
        hostname: phpmyadmin-${var_server_name}
        container_name: phpmyadmin-${var_server_name}
        environment:  
          - VIRTUAL_HOST=phpmyadmin-${var_server_name}
      
    mailhog:
        image: mailhog/mailhog
        hostname: mail-${var_server_name}
        container_name: mail-${var_server_name}
        restart: always
        environment:  
          - VIRTUAL_HOST=mail-${var_server_name}
          - VIRTUAL_PORT=8025
        healthcheck:
         test: echo | telnet 127.0.0.1 25

networks:
  default:
    external:
      name: nginx-proxy-${var_network_suffix}